<div class="recipe__card ">
  <img [src]="meal.strMealThumb" alt="photo recipe" class="recipe_img animate__animated animate__fadeIn">
  <div class="recipe__content">
    <span class="recipe__description">
      Dairy Free
    </span>
    <h2 class="recipe__name">
      {{meal.strMeal}}
    </h2>
    <span class="recipe__time">
      free
    </span>
    <a [routerLink]="['/recipes',meal.idMeal]" class="recipe__more">
      <img src="./assets/img/like.svg" alt="recipes">
    </a>

  </div>
</div>