<header class="main__header ">
  <div class="container__search">

    <select name="" id="" class="input__categories" (input)="searchRecipeByCategory($event)">
      <option value="">All categorias</option>
      <option *ngFor="let category of categories" [value]="category?. strCategory">{{category?.strCategory}}</option>
    </select>

    <input type="search" placeholder="Buscar por nombres" class="input__search" ngModel name="nombre"
      (input)="searchRecipe($event)">
    <button class="btn__search">
      <img src="./assets/img/li_search.svg" alt="buscar">
    </button>
  </div>

</header>

<!-- <span>Paises:</span>
<select (change)="searchRecipeByCountry($event)">
  <option value="">--- ninguno</option>
  <option *ngFor="let country of countries" [value]="country?.strArea">{{country?.strArea}}</option>
</select> -->